* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --lightest-non-white: #ededed;
  --primary-color: #f73859;
  --secondary-color: #f1d18a;
  --darkest: #232931;
  --text: #212121;
}

/* CONTAINERS */
body {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  color: var(--text);
}

h2,
h3 {
  font-weight: 700;
  color: var(--primary-color);
}

.container-fluid {
  padding: 10% 15%;
}

/* NAVBAR */
.wadco-navbar {
  padding: 1% 3%;
  background-color: var(--darkest);
}

/* TITLE */
#title {
  background-color: var(--darkest);
  color: var(--lightest-non-white);
}

#title .container-fluid {
  padding: 7% 15%;
}

.title-mission-statement {
  background-color: var(--darkest);
  padding: 3%;
  border-radius: 2rem;
}

.title-headline {
  font-size: 3rem;
  font-weight: 800;
  text-align: left;
  margin-bottom: 2rem;
  line-height: 1.1;
  color: var(--primary-color);
}

#title p {
  font-size: 1.5rem;
  text-align: left;
  line-height: 1.7;
}

.wadco-link {
  color: var(--secondary-color);
  text-decoration: none;
  font-weight: 700;
  transition: all 0.2s ease;
}

.wadco-link:hover {
  color: var(--secondary-color);
  text-shadow: 0 0 1rem #f1d18a;
}

.title-btns {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
  margin-bottom: 1rem;
}

#title .fa-brands {
  font-size: 2rem;
  text-decoration: none;
  color: var(--secondary-color);
}

#title .fa-brands:hover {
  color: var(--secondary-color);
  text-shadow: 0 0 1rem #f1d08a75;
  font-size: 2rem;
  text-decoration: none;
  transition: all 0.3s ease;
}

.img-container {
  position: relative;
}

.title-image {
  width: 100%;
  border-radius: 1rem;

  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
}

@media (max-width: 1000px) {
  /* #title .row {
    justify-content: center;
  } */

  #title {
    background-color: var(--darkest);
  }

  .title-headline {
    text-align: center;
    font-size: 2.25rem;
    padding-top: 4rem;
    margin-bottom: 1rem;
  }

  .title-image {
    width: 90%;
    border-radius: 1rem;

    position: relative;
    /* top: 50%;
    right: 50%;
    transform: translate(50%, -50%); */
  }

  #title p {
    text-align: center;
  }

  .title-btns {
    align-items: center;
    justify-content: center;
    margin-bottom: 3rem;
  }
}

/* THE SHOWS */
.mobile {
  display: none;
  padding-top: 7%;
}

#shows .container-fluid {
  padding: 10% 15% 3%;
}

#shows {
  background-color: var(--lightest-non-white);
}

#shows p {
  line-height: 1.7;
}

.show-img {
  width: 80%;
}

.show-container {
  padding: 2%;
  border-radius: 2rem;
  margin: 3% 0;
  transition: all 0.3s ease;
  box-shadow: 0 0.5rem 2rem #23293169;

  background-color: var(--darkest);
  color: var(--lightest-non-white);
}

/* .show-container:hover {
  box-shadow: 0 0.5rem 2rem #1b171717;
} */

#shows img {
  border: 0.25rem solid var(--secondary-color);
  border-radius: 1rem;
}

.show-link {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: black;
}

.show-link:hover {
  color: black;
}

#shows .row {
  align-items: center;
}

.wadcast-info {
  text-align: right;
}

.tmp-info {
  text-align: left;
}

@media (max-width: 1000px) {
  .desktop {
    display: none;
  }
  .mobile {
    display: block;
    padding: 0;
  }

  #shows h2 {
    font-size: 2.75rem;
  }

  .show-container {
    margin: 12% 0;
    padding: 5% 1%;
  }

  .show-container:last-child {
    margin: 0;
  }

  .wadcast-info,
  .tmp-info {
    text-align: center;
  }

  .merch-description {
    margin-top: 10%;
  }
}

/* MERCH */
#merch {
  background-color: var(--lightest-non-white);
}

.merch-imgs {
  position: relative;
}

.merch-img {
  width: 70%;
  position: relative;
}

.merch-description {
  align-self: center;
  text-align: right;
  background-color: var(--darkest);
  padding: 1rem;
  border-radius: 1rem;
  color: var(--lightest-non-white);
}

.hoodie {
  bottom: 10%;
}

.shirt {
  position: absolute;
  width: 55%;
  right: 40%;
  top: 20%;
}

.phone {
  position: absolute;
  width: 40%;
  left: 55%;
  top: 20%;
}

/* THE HOSTS */
#team {
  background-color: var(--darkest);
  color: var(--lightest-non-white);
}

#team .row {
  align-items: center;
  justify-content: center;
  padding: 5% 0;
}

#team .container-fluid {
  padding: 7% 20% 2%;
}

.profile-img {
  width: 15rem;
  height: 12rem;
  border-radius: 1.5rem;
}

.josh .profile-desc {
  text-align: left;
}

.brandon .profile-desc {
  text-align: right;
}

#team .fa-brands {
  font-size: 1.5rem;
  text-decoration: none;
  color: var(--secondary-color);
}

#team .fa-brands:hover {
  color: var(--secondary-color);
  text-shadow: 0 0 1rem #f1d08a75;
  font-size: 1.5rem;
  text-decoration: none;
  transition: all 0.3s ease;
}

.host-socials {
  display: flex;
  gap: 0.75rem;
}

.brandon .host-socials {
  display: block;
  text-align: right;
}

@media (max-width: 1000px) {
  #team h2 {
    font-size: 2.75rem;
  }

  #team h3 {
    margin-bottom: 1rem;
  }

  #team p {
    margin-top: 1rem;
    line-height: 1.75;
  }
}

/* SOCIALS */
#socials {
  background-color: var(--lightest-non-white);
}

#socials .container-fluid {
  padding: 3% 15%;
}

#socials h2 {
  font-size: 2.5rem;
}

.socials {
  display: flex;
  gap: 0.75rem;
  justify-content: center;
}

#socials .fa-brands {
  font-size: 1.5rem;
  text-decoration: none;
  color: var(--darkest);
  transition: all 0.3s ease;
}

#socials .fa-brands:hover {
  font-size: 2rem;
  text-decoration: none;
  color: var(--primary-color);
  transition: all 0.3s ease;
}

/* FOOTER */
footer .container-fluid {
  padding: 3% 15% 1%;
}

footer {
  background-color: var(--lightest-non-white);
  font-size: 0.75rem;
}
